<br />
<h4 class="title-header">- Purchase List -</h4>
<!-- <div class="text-right">
    <button (click)="routeToAddListItem()" class="addButton btn">Add Purchase Entry</button>
</div> -->
<div class="row">
    <div class="col">
        <div class="text-left">
            <mat-form-field appearance="outline" class="matFormField">
                <input matInput (keyup)="applyFilter($event)" placeholder="Search here..." />
                <mat-icon color="primary" matSuffix>search</mat-icon>
            </mat-form-field>
        </div>
    </div>
    <div class="col">
        <div class="text-right">
            <button (click)="routeToAddListItem()" class="addButton btn">Add Purchase Entry</button>
        </div>
    </div>
</div>
<br />
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
        <!-- ID Column -->
        <ng-container matColumnDef="slNo">
            <th mat-header-cell *matHeaderCellDef class="table_header">SL NO</th>
            <td mat-cell *matCellDef="let row">{{dataSource.filteredData.indexOf(row) + 1}}.</td>
        </ng-container>

        <!-- orderNumber Column -->
        <ng-container matColumnDef="orderNumber">
            <th mat-header-cell *matHeaderCellDef class="table_header">
                Order ID
            </th>
            <td mat-cell *matCellDef="let row">{{ row.orderNumber.orderNumber }}</td>
        </ng-container>

        <!-- orderDate Column -->
        <ng-container matColumnDef="orderDate">
            <th mat-header-cell *matHeaderCellDef class="table_header">
                Order Date
            </th>
            <td mat-cell *matCellDef="let row">{{ row.orderNumber.orderDate }}</td>
        </ng-container>

        <!-- receivedDate Column -->
        <ng-container matColumnDef="receivedDate">
            <th mat-header-cell *matHeaderCellDef class="table_header">
                Received Date
            </th>
            <td mat-cell *matCellDef="let row">{{ row.receivedDate }}</td>
        </ng-container>

        <!-- supplierName Column -->
        <ng-container matColumnDef="supplierName">
            <th mat-header-cell *matHeaderCellDef class="table_header">
                Supplier Name
            </th>
            <td mat-cell *matCellDef="let row">{{ row.orderNumber.supplierName.supplierName }}</td>
        </ng-container>

        <!-- supplierInvoiceNumber Column -->
        <ng-container matColumnDef="supplierInvoiceNumber">
            <th mat-header-cell *matHeaderCellDef class="table_header">
                Supplier Invoice Number
            </th>
            <td mat-cell *matCellDef="let row">{{ row.supplierInvoiceNumber }}</td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef class="table_header">Action</th>
            <td mat-cell *matCellDef="let row">
                <div class="action-btn">
                    <a class="action-link" (click)="routeToEditPurchaseEntry(this.row)">
                        <mat-icon class="edit-btn" title="Edit">edit</mat-icon>
                    </a>
                </div>
                <span style="color: #3f51b5;">|</span>
                <div class="action-btn">
                    <a class="action-link" (click)="deletePurchaseEntry(this.row)">
                        <mat-icon class="delete-btn" title="Delete">delete_forever</mat-icon>
                    </a>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr class="row-style" mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
<br />