<h1 class="text-center main-bg mt-3">

    Welcome To MedBill</h1>

<div class="container mt-5">
    <div class="row d-flex justify-content-around">
        <div class="col-lg-3 col-md-6 col-sm-12">
            <mat-card class="main-card">
                <div class="card-body">
                    <h6 class="card-title title">Products</h6>
                    <p class="count " id="value">
                        <ng2-odometer [number]="noOfProducts" [config]="{ }"></ng2-odometer>
                    </p>
                </div>
            </mat-card>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <mat-card class="main-card" (click)="routeToExpiryIntimation()">
                <div class="card-body">
                    <h6 class="card-title title">Product Expire In Next 30 Days</h6>
                    <p class="count " id="value">
                        <ng2-odometer [number]="noOfProductsExpireInNext30Days" [config]="{ }"></ng2-odometer>
                    </p>
                    <marquee class="text-danger">
                        <h6 *ngFor="let product of nearByExpiryStockDetails; index as i;" style="display: inline-block;">
                            {{product.productName.productName}} &nbsp;
                        </h6>
                    </marquee>
                </div>
            </mat-card>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <mat-card class="main-card">
                <div class="card-body">
                    <h6 class="card-title title">No Of Sales</h6>
                    <p class="count " id="value">
                        <ng2-odometer [number]="47" [config]="{ }"></ng2-odometer>
                    </p>
                </div>
            </mat-card>
        </div>
    </div>
</div>







<router-outlet></router-outlet>