<div class="container-fluid mt-3 p-0">
    <div class="card shadow-lg">
        <div class="card-title">
            <h4 class="text-center main-bg pt-3 mt-1">- Add Sales -</h4>
        </div>
        <mat-divider class="mx-5"></mat-divider>
        <form action="" class="form-group customhover" [formGroup]="addSalesQuotation">
            <div class="container mt-3">
                <div class="row">
                    <div class="col-md-3">
                        <mat-form-field class="field-full-width" appearance="outline">
                            <mat-label>Name<sup class="text-danger">*</sup></mat-label>
                            <input matInput placeholder="Ex. Sudhakar" value="" formControlName="saleName" />
                            <mat-error *ngIf="addSalesQuotation.get('saleName').hasError('required')">
                                <b>Required</b>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field class="field-full-width" appearance="outline">
                            <mat-label>Invoice Number<sup class="text-danger">*</sup></mat-label>
                            <input matInput placeholder="Ex. 11212111" value="" formControlName="invoiceNumber" />
                            <mat-error *ngIf="addSalesQuotation.get('invoiceNumber').hasError('required')">
                                <b>Required</b>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field class="field-full-width" appearance="outline">
                            <mat-label>Doctor Name<sup class="text-danger">*</sup></mat-label>
                            <input matInput placeholder="Ex. Sudhakar" value="" formControlName="doctorName" />
                            <mat-error *ngIf="addSalesQuotation.get('doctorName').hasError('required')">
                                <b>Required</b>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field class="field-full-width" appearance="outline">
                            <mat-label> Date<sup class="text-danger">*</sup></mat-label>
                            <input matInput placeholder="Ex. 7/2/1995" value="" formControlName="salesQuotationDate" type="date" />
                            <mat-error *ngIf="addSalesQuotation.get('salesQuotationDate').hasError('required')">
                                <b>Required</b>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="row d-flex justify-content-around ml-5 mr-5">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <!-- Dynamic Row Starts here -->
                    <table class="table table-bordered mt-5 tablecss text-center shadow-lg table-responsive" style="width: 100%;">
                        <thead>
                            <tr>
                                <th style="width: 5%;">Sl.no</th>
                                <th style="width: 20%;">Product Name</th>
                                <th style="width: 10%;">Manufacture Name</th>
                                <th style="width: 10%;">Batch</th>
                                <th style="width: 10%;">Expiry Date</th>
                                <th style="width: 10%;">Quantity</th>
                                <th style="width: 20%;">Price Per <br>Unit</th>
                                <th style="width: 20%;">Total</th>
                                <th style="width: 5%;">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let salesOrder of salesOrderArray; let i = index;">
                                <td style="width: 5%;">
                                    {{i+1}}.
                                </td>
                                <td style="width: 10%;">
                                    <mat-form-field class="field-dosage" appearance="outline">
                                        <mat-select [(ngModel)]="salesOrder.itemName" [ngModelOptions]="{standalone: true}" id="itemName{{i}}" (selectionChange)="validatesalesQuotationDetails(i);">
                                            <mat-option value='null' selected="">Select Here</mat-option>
                                            <mat-option *ngFor="let item of allItemList" [value]="item">{{item.itemName}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <p style="color: red; font-size: 15px;" id="itemNameMsg{{i}}"></p>
                                </td>
                                <td style="width: 10%;">
                                    <mat-form-field class="field-dosage" appearance="outline">
                                        <input matInput [(ngModel)]="salesOrder.itemCode" [ngModelOptions]="{standalone: true}" id="itemCode{{i}}" (input)="validatesalesQuotationDetails(i);" readonly/>
                                    </mat-form-field>
                                    <p style="color: red;" id="itemCodeMsg{{i}}"></p>
                                </td>
                                <td style="width: 10%;">
                                    <mat-form-field class="field-dosage" appearance="outline">
                                        <input matInput [(ngModel)]="salesOrder.quantity" [ngModelOptions]="{standalone: true}" id="quantity{{i}}" (input)="validatesalesQuotationDetails(i);" />
                                    </mat-form-field>
                                    <p style="color: red; font-size: 15px;" id="quantityMsg{{i}}"></p>
                                </td>
                                <td style="width: 10%;">
                                    <mat-form-field class="field-dosage" appearance="outline">
                                        <input matInput [(ngModel)]="salesOrder.unitPrice" [ngModelOptions]="{standalone: true}" id="unitPrice{{i}}" (input)="validatesalesQuotationDetails(i);" />
                                    </mat-form-field>
                                    <p style="color: red;" id="unitPriceMsg{{i}}"></p>
                                </td>
                                <td style="width: 10%;">
                                    <mat-form-field class="field-dosage" appearance="outline">
                                        <input matInput [(ngModel)]="salesOrder.amount" [ngModelOptions]="{standalone: true}" id="amount{{i}}" (input)="validatesalesQuotationDetails(i);" readonly/>
                                    </mat-form-field>
                                    <p style="color: red;" id="amountMsg{{i}}"></p>
                                </td>
                                <td style="width: 10%;">
                                    <mat-form-field class="field-dosage" appearance="outline">
                                        <input matInput [(ngModel)]="salesOrder.amount" [ngModelOptions]="{standalone: true}" id="amount{{i}}" (input)="validatesalesQuotationDetails(i);" readonly/>
                                    </mat-form-field>
                                    <p style="color: red;" id="amountMsg{{i}}"></p>
                                </td>

                                <td style="width: 15%;">
                                    <mat-form-field class="field-drugName" appearance="outline">
                                        <input matInput [(ngModel)]="salesOrder.remarks" [ngModelOptions]="{standalone: true}" id="remarks{{i}}" (input)="validatesalesQuotationDetails(i);" />
                                    </mat-form-field>
                                    <p style="color: red;" id="remarksMsg{{i}}"></p>
                                </td>

                                <td (click)="addRow()" class="text-center" style="width: 5%;">
                                    <!-- <i class="fa fa-plus fa-1x  text-light"></i> -->
                                    <mat-icon class="rowAddIcon" title="Add" color="primary">add</mat-icon>
                                </td>
                                <!-- <span  > -->
                                <td (click)="deleteRow(i)" class=" text-center" *ngIf='i!=0' style="width: 5%;">
                                    <!-- <i class="fa fa-trash fa-1x  text-light"></i> -->
                                    <mat-icon class="rowDeleteIcon" title="Delete" color="accent">delete</mat-icon>
                                </td>
                                <!-- </span> -->
                            </tr>
                        </tbody>
                    </table>
                    <!-- Dynamic Row ends here -->
                </div>
            </div>

            <div class="container mt-5 mb-3">
                <div class="row">
                    <div class="col-md-6">

                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <label for="exampleInputPassword1" class="lab">Sub Total</label>
                            <input type="text" class="form-control" formControlName="salesQuotationSubTotal" id="salesQuotationSubTotal" #salesQuotationSubTotal readonly>
                        </div>
                        <!-- <div class="row mt-2">
                            <label class="lab">Tax (In %)</label>
                            <input type="text" class="form-control" formControlName="salesQuotationTax" id="salesQuotationTax" #salesQuotationTax >
                        </div> -->
                        <div>
                            <div class="row mt-2">
                                <label class="lab">SGST</label>
                                <input type="text" class="form-control" formControlName="salesQuotationSgst" id="salesQuotationSgst" #salesQuotationSgst readonly>
                            </div>
                            <div class="row mt-2">
                                <label for="exampleInputPassword1" class="lab">CGST</label>
                                <input type="text" class="form-control" formControlName="salesQuotationCgst" id="salesQuotationCgst" #salesQuotationCgst readonly>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <label for="exampleInputPassword1" class="lab">Total</label>
                            <input type="text" class="form-control" formControlName="salesQuotationTotal" id="salesQuotationTotal" readonly>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row d-flex justify-content-around mt-5 ml-5 mr-5 mb-5">
                <div class="col-lg-2 col-md-6 col-sm-12">

                </div>
                <div class="col-lg-8 col-md-6 col-sm-12 d-flex justify-content-around">
                    <button type="submit" mat-raised-button color="primary" class="w-25">
                        <mat-icon class="mr-2">save</mat-icon>Save
                    </button>
                    <button type="button" mat-raised-button color="accent" class="w-25">
                        <mat-icon class="mr-2">360</mat-icon>Back
                    </button>
                    <button mat-raised-button color="primary" class="w-25">
                        <mat-icon class="mr-2">save</mat-icon>Print
                    </button>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">

                </div>
            </div>
        </form>

    </div>
</div>