<!-- 
File Name :-manufacturermasterhome.component.html	   	Created Date :-13-01-2021     Created By :- Faiser I (Emp. Id : VTPL/BLR/006)
	
Description :- this component is used to route list and add manufacturer					
	
============================================================================================================================
  Sl.No			    Description			                                Modified By		              	      Modified Date	
============================================================================================================================
	
	
 -->

<router-outlet></router-outlet>