<br />
<h4 class="title-header">- Sales List -</h4>
<div class="text-right">
    <button (click)="routeToAddListItem()" class="addButton btn">Add Sales</button>
</div>
<br />
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
        <!-- ID Column -->
        <ng-container matColumnDef="slNo">
            <th mat-header-cell *matHeaderCellDef class="table_header">SL NO</th>
            <td mat-cell *matCellDef="let row">{{dataSource.filteredData.indexOf(row) + 1}}.</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="customerName">
            <th mat-header-cell *matHeaderCellDef class="table_header">
                Customer Name
            </th>
            <td mat-cell *matCellDef="let row">{{ row.customerName }}</td>
        </ng-container>

        <!-- Specialization Column -->
        <ng-container matColumnDef="doctorName">
            <th mat-header-cell *matHeaderCellDef class="table_header">
                Doctor Name
            </th>
            <td mat-cell *matCellDef="let row">{{ row.doctorName }}</td>
        </ng-container>

        <!-- Specialization Column -->
        <ng-container matColumnDef="salesDate">
            <th mat-header-cell *matHeaderCellDef class="table_header">
                Sales Date
            </th>
            <td mat-cell *matCellDef="let row">{{ row.salesDate }}</td>
        </ng-container>

        <!-- Specialization Column -->
        <ng-container matColumnDef="totalNetAmount">
            <th mat-header-cell *matHeaderCellDef class="table_header">
                Total Net Amount
            </th>
            <td mat-cell *matCellDef="let row">{{ row.totalNetAmount }}</td>
        </ng-container>


        <!-- Action Column -->
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef class="table_header">Action</th>
            <td mat-cell *matCellDef="let row">
                <div class="action-btn">
                    <button mat-raised-button color="primary" class="m-2" (click)="routeToUpdateSalesOrder(this.row)">Edit</button>
                </div>
                <div class="action-btn">
                    <button mat-raised-button color="primary" class="m-2" (click)="routeToDeleteItemCategory(this.row)">Delete</button>
                </div>
                <div class="action-btn">
                    <button mat-raised-button color="primary" class="m-2" (click)="routeToCancelSalesOrder(this.row.salesOrderId,this.row)">Cancel Sales Order</button>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr class="row-style" mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
<br />