<div class="container-fluid mt-3 p-0">
    <div class="card shadow-lg">
        <div class="card-title">
            <h4 class="text-center main-bg pt-3 mt-1">- Add Order -</h4>
        </div>
        <mat-divider class="mx-5"></mat-divider>
        <form class="form-group customhover" [formGroup]="addOrderDetails" (ngSubmit)="addOrderFormubmit()">
            <div class="container mt-3">
                <div class="row">
                    <div class="col-md-4">
                        <mat-form-field class="field-full-width" appearance="outline">
                            <mat-label>Order Number<sup class="text-danger">*</sup></mat-label>
                            <input matInput placeholder="Ex. 12345678" formControlName="orderNumber" readonly />
                            <mat-error *ngIf="addOrderDetails.get('orderNumber').hasError('required')">
                                Required
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="field-full-width" appearance="outline">
                            <mat-label>Order Date<sup class="text-danger">*</sup></mat-label>
                            <input matInput placeholder="Ex. 7/2/1995" formControlName="orderDate" type="date" />
                            <mat-error *ngIf="addOrderDetails.get('orderDate').hasError('required')">
                                Required
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="field-full-width" appearance="outline">
                            <mat-label>Supplier Name<sup class="text-danger">*</sup></mat-label>
                            <mat-select formControlName="supplierName">
                                <mat-option value=''>Select Here</mat-option>
                                <mat-option *ngFor="let ven of allSupplierName" [value]="ven">
                                    {{ven.supplierName}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="addOrderDetails.get('supplierName').hasError('required')">
                                Required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="row d-flex justify-content-around ml-5 mr-5">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <!-- Dynamic Row Starts here -->
                    <table class="table table-bordered mt-5 tablecss text-center shadow-lg table-responsive" style="width: 100%;">
                        <thead>
                            <tr>
                                <th style="width: 5%;">Sl.no</th>
                                <th style="width: 20%;">Product Type</th>
                                <th style="width: 10%;">Product Name</th>
                                <th style="width: 10%;">Manufacturer</th>
                                <th style="width: 10%;">Packaging</th>
                                <th style="width: 10%;">Quantity</th>
                                <th style="width: 20%;">Unit Price</th>
                                <th style="width: 20%;">Total</th>
                                <th style="width: 5%;">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let createOrder of orderArray; let i = index;">
                                <td style="width: 5%;">
                                    {{i+1}}.
                                </td>
                                <td style="width: 10%;">
                                    <mat-form-field class="field-dosage" appearance="outline">
                                        <mat-select [(ngModel)]="createOrder.productType" [ngModelOptions]="{standalone: true}" id="productType{{i}}" (selectionChange)="validateOrderDetails(i);">
                                            <mat-option value=''>Select Here</mat-option>
                                            <mat-option *ngFor="let cate of allProductTypeList" [value]="cate">
                                                {{cate.categoryName}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <p style="color: red; font-size: 15px;" id="productTypeMsg{{i}}"></p>
                                </td>
                                <td style="width: 10%;">
                                    <mat-form-field class="field-dosage" appearance="outline">
                                        <mat-select [(ngModel)]="createOrder.productName" [ngModelOptions]="{standalone: true}" id="productName{{i}}" (selectionChange)="validateOrderDetails(i);">
                                            <mat-option value=''>Select Here</mat-option>
                                            <!-- <mat-option *ngFor="let pro of allProductList" [value]="pro"> -->
                                            <mat-option *ngFor="let pro of allProductLists[i]" [value]="pro">
                                                {{pro.productName}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <p style="color: red;" id="productNameMsg{{i}}"></p>
                                </td>

                                <td style="width: 10%;">
                                    <mat-form-field class="field-dosage" appearance="outline">
                                        <input matInput [(ngModel)]="createOrder.manufacturer" [ngModelOptions]="{standalone: true}" id="manufacturer{{i}}" (input)="validateOrderDetails(i);" readonly/>
                                    </mat-form-field>
                                    <p style="color: red; font-size: 15px;" id="manufacturerMsg{{i}}"></p>
                                </td>

                                <td style="width: 10%;">
                                    <mat-form-field class="field-dosage" appearance="outline">
                                        <input matInput [(ngModel)]="createOrder.packaging" [ngModelOptions]="{standalone: true}" id="packaging{{i}}" (input)="validateOrderDetails(i);" />
                                    </mat-form-field>
                                    <p style="color: red; font-size: 15px;" id="packagingMsg{{i}}"></p>
                                </td>
                                <td style="width: 10%;">
                                    <mat-form-field class="field-dosage" appearance="outline">
                                        <input matInput [(ngModel)]="createOrder.quantity" [ngModelOptions]="{standalone: true}" id="quantity{{i}}" (input)="validateOrderDetails(i);" />
                                    </mat-form-field>
                                    <p style="color: red;" id="quantityMsg{{i}}"></p>
                                </td>
                                <td style="width: 10%;">
                                    <mat-form-field class="field-dosage" appearance="outline">
                                        <input matInput [(ngModel)]="createOrder.unitPrice" [ngModelOptions]="{standalone: true}" id="unitPrice{{i}}" (input)="validateOrderDetails(i);" />
                                    </mat-form-field>
                                    <p style="color: red;" id="unitPriceMsg{{i}}"></p>
                                </td>


                                <td style="width: 15%;">
                                    <mat-form-field class="field-drugName" appearance="outline">
                                        <input matInput [(ngModel)]="createOrder.amount" [ngModelOptions]="{standalone: true}" id="amount{{i}}" (input)="validateOrderDetails(i);" readonly/>
                                    </mat-form-field>
                                    <p style="color: red;" id="amountMsg{{i}}"></p>
                                </td>

                                <td (click)="addRow()" class="text-center" style="width: 5%;">
                                    <!-- <i class="fa fa-plus fa-1x  text-light"></i> -->
                                    <mat-icon class="rowAddIcon" title="Add" color="primary">add</mat-icon>
                                </td>
                                <!-- <span  > -->
                                <td (click)="deleteRow(i)" class=" text-center" *ngIf='i!=0' style="width: 5%;">
                                    <!-- <i class="fa fa-trash fa-1x  text-light"></i> -->
                                    <mat-icon class="rowDeleteIcon" title="Delete" color="accent">delete</mat-icon>
                                </td>
                                <!-- </span> -->
                            </tr>
                        </tbody>
                    </table>
                    <!-- Dynamic Row ends here -->
                </div>
            </div>

            <div class="container mt-5 mb-3">
                <div class="row">
                    <div class="col-md-6">

                    </div>
                    <div class="col-md-6">
                        <div class="row mt-2">
                            <label class="lab">Total</label>
                            <input type="text" class="form-control" formControlName="orderGrandTotal" id="orderGrandTotal" readonly>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row d-flex justify-content-around mt-5 ml-5 mr-5 mb-5">
                <div class="col-lg-2 col-md-6 col-sm-12">

                </div>
                <div class="col-lg-8 col-md-6 col-sm-12 d-flex justify-content-around">
                    <button type="submit" mat-raised-button color="primary" [disabled]='(addOrderDetails.invalid) || (!orderDetailFlag)' class="w-25">
                        <mat-icon class="mr-2">save</mat-icon>Save
                    </button>
                    <button type="button" mat-raised-button color="accent" class="w-25">
                        <mat-icon class="mr-2">360</mat-icon>Back
                    </button>
                    <button mat-raised-button color="primary" class="w-25">
                        <mat-icon class="mr-2">save</mat-icon>Print
                    </button>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">

                </div>
            </div>
        </form>

    </div>
</div>